.createAccountCard__container {
  background: url(https://cdn.mos.cms.futurecdn.net/odLUHcFdsFcUey9pCfvF7F-650-80.jpg);
}

.createAccountCard {
  min-width: 150px;
  max-width: 500px;
  width: 300px;
  margin: 5em 3em;
  padding: 0 20px;
  display: inline-block;
  padding-top: 40px;
  background: white;
  border-radius: 10px;
}

.createAccountCard__fnln {
  width: 49%;
  display: inline-block;
}
.createAccountCard__fnln--marginRight {
  margin-right: 1%;
}
.createAccountCard__fnln--marginLeft {
  margin-left: 1%;
}

.createAccountCard--login {
  height: 400px;
}

.createAccountCard__component {
  margin: 6px 0;
}

.createAccountCard__header {
  font-weight: bolder;
  font-size: 1em;
  margin-bottom: 10%;
}

.createAccountCard__textField {
  width: 100%;
  font-size: 0.2em;
}

.createAccountCard__footer {
  color: #575757;
  margin: 20px 0;
  font-size: 0.7em;
  text-align: center;
}

.createAccountCard__footer:hover {
  cursor: pointer;
  color: #000000;
  transition: 0.4s;
}
