.experience_container .subtitle {
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
    color: #00000088;
}

.levelup {
    opacity: 0;
    top: 20px;
    transition: all 1s ease-in-out;
}

.levelup.active {
    opacity: 1;
    top: 0px;
    color: rgb(40, 123, 0);
}
