.profile_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2em 1em;
    padding: 1em 1em;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0px #b0b0b0;
}


.progress {
    display: flex;
    flex-direction: row;
    width: 80vw;
    border-radius: 0.5em;
    overflow: hidden;
    background: rgba(174, 255, 0, 0.34);
    border-width: 1px;
    border-color: rgb(82, 255, 0);
    box-shadow: 0px 0px 1px 0px #50ff00;
    transition: width 3s ease-out;
}
.progress > div {

 }

.main {
    height: 20px;
    background: #7BC415;
    transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.row {
    height: 5px;
    display: flex;
    flex-direction: row;
    transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.sq {
    height: 5px;
    width: 5px;
}

#sq-2 { background: #e1ffcd;}
#sq-3 { background: #dcff8f;}
#sq-6 { background: #dcff8f;}
#sq-1, #sq-5, #sq-9 {
    background: #aeff00;
}
#sq-4, #sq-8, #sq-12 {
    background: #afe400;
}

#sq-7, #sq-10, #sq-11 {
    background: #7ac416e8;
}
