.progress {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12px;
    border-radius: 0.5em;
    overflow: hidden;
    border-width: 1px;
}
.main {
    height: 12px;
    transition: flex-grow 1s ease-in-out;
}

.test {
    color: #2c6ec4FF;
    color: #366FBF88
}

.row {
    height: 3px;
    display: flex;
    flex-direction: row;
    transition: flex-grow 1s ease-in-out;
}

.sq {
    height: 3px;
    width: 3px;
}
