.skillTreeNavBar {
  width: 100%;
  padding: 1em 0;
  margin-bottom: 0.8em;
}

.skillTreeNavBar__component {
  width: 33%;
  font-size: 0.8em;
  display: inline-block;
}

.skillTreeNavBar__component__item {
  padding: 0.4em 1.5em;
  border-radius: 5px;
}
.skillTreeNavBar__component__item:hover {
  cursor: pointer;
}

.skillTreeNavBar__component__item--active {
  color: #1e941e;
  background: #eeeeee;
  font-weight: 700;
  transition: 0.3s;
}
