.createAccountCard {
  min-width: 270px;
  max-width: 30%;
  height: 650px;
  margin: 30px 10px 10px 10px;
  padding: 20px;
}

.createAccountCard--login {
  height: 400px;
}

.createAccountCard__header {
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 10%;
}

.createAccountCard__textField {
  width: 100%;
}

.createAccountCard__footer {
  position: relative;
  color: #575757;
  top: 20px;
  font-size: 0.85em;
  text-align: center;
}

.createAccountCard__footer:hover {
  cursor: pointer;
  color: #000000;
  transition: 0.4s;
}
