
p {
    margin: 0px;
}

h2 {
    font-size: 1.2em;
    font-weight: bolder;
}

/* Card items */

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em 1em;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 2px 2px 4px 0px rgba(176, 176, 176, 0.31);
    background-color: white;
    margin-bottom: 1em;
}

.card > div {
    margin-bottom: 0.5em;
}

/* History */
.quest.card > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quest.card > .fulfilled {
    font-size: 0.8em;
    margin: 0px 0px 0.5em 0px;
    color: #000000AA;
}

