.perks {
  text-align: center;
}
.perks__title {
  width: 100%;
  padding: 2% 0;
  font-size: 1.5em;
  font-weight: 700;
}

.perks__footer {
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  margin: 10px 40px;
  width: 50px;
  display: inline-block;
}

.perks__icon {
  color: #ffffff;
}

.perks__icon__text {
  font-size: 0.4em;
}

.perks__icon__num {
  margin-left: 8%;
  font-size: 0.8em;
}
